// TODO
.logo {
    height: 26px;
    width: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: 1120px;
    height: 100px;
    margin: 0 auto;
    padding: 0 2rem;
}